.container {
  @apply bg-white shadow-soft p-4 rounded-md mb-xs absolute top-12 right-0;
}

.text {
  @apply text-dark-grey text-sm leading-5 font-normal;
}

.sub-text {
  @apply text-dark-grey text-xs leading-4 font-light
  mt-1;
}

.emojis {
  @apply flex flex-row mb-5 mt-3;
}

.button {
  @apply flex justify-center mt-3;
}
.submitted-container {
  @apply flex flex-col justify-center items-center h-15xl w-20xl;
}

.form__answer {
  display: inline-block;
  box-sizing: border-box;
  width: 23%;
  margin: 20px 1% 20px 0;
  /* height: 180px; */
  vertical-align: top;
  font-size: 22px;
  text-align: center;
}

.emoji {
  box-sizing: border-box;
  display: block;
  /* height: 100%; */
  width: 100%;
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0.5;
  filter: grayscale(var(--value, 100%));
  transition: all 0.2s ease-in-out;
}

.form-options .form-answer input[type='radio'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-options .form-answer input[type='radio']:active ~ label {
  opacity: 1;
}

.form-options .form-answer input[type='radio']:checked ~ label {
  opacity: 1;
  filter: none;
}

.form-options .form-answer input[type='radio']:hover ~ label {
  opacity: 1;
  filter: none;
}
