node_modules
__mocks__
.github
.history
.next
.storybook
.vscode
coverage
deploy
.eslintignore
.eslintrc.js
.gitignore
.prettierrc
.stylelintignore
.stylelintrc.js
docker-compose.yaml
Dockerfile
jest.config.js
jest.tsconfig.json
setup-tests.ts
.git
.dockerignore
README.md