.inputfile {
  /* width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; */
  @apply w-0 h-0 opacity-0 overflow-hidden absolute;
}
.label {
  @apply box-border bg-grey-shd7 rounded-lg border border-accent border-dashed cursor-pointer
  flex flex-row justify-center items-center
  w-auto
  py-mx;
}
.text {
  @apply text-accent text-sm font-medium not-italic;
}

.svg {
  @apply mr-1;
}
